# IDE and git
.editorconfig
.idea/
.github/
.pre-commit-config.yaml

# Ignors
.dockerignore
.gitignore

# Virtual environments
venv/
.venv/
env/
.env/

# Cache
.pytest_cache
.ruff_cache
pyproject.lock
__pycache__/

# Environment variables
.env
